body {
    background-color: blanchedalmond;
    font-family: Helvetica,  Arial, sans-serif;
}a{
    color: #885df1;
}

.container{
    margin: 120px auto;
    max-width: 600px;
}

header {
    margin-bottom: 30px;
}

h1{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    color: rgb(17, 21, 20);
    line-height: 1.5;
}

.form-container {
    margin-bottom: 30px;
    padding: 15px 20px;
    background-color: antiquewhite;
    box-shadow: 0px 20 px 60px color(srgb red green blue);
    border-radius: 10px;
}
form {
    
    display: flex;
    
}

.hint {
    line-height: 1.5;
    margin-top: 5px;
    opacity: 0.6;
    font-size: 12px;
}
.instructions{
    padding: 16px;
    border: 1px solid red;
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #000000;
}
.submit-button :hover{
    margin-left: 16px;
    background-color: bisque;
    color: white;
    border: none;
    width: 150px;
    font-size: 16px;
    border-radius: 50px;
    padding: 14px 24px;
}
.poem {
    font-size: 14px;
    background-color: rgb(226, 43, 144);
    padding: 20px;
    line-height: 1.6;
    border-left: 3px solid #885df1;
    box-shadow: 0px 20px 60px rgba(65,50,100,0.08);
    
    
}

.hidden {
    display: none;
}
.poem strong{
color:#885df1;
}

footer{
    text-align: center;
    font-size: 13px;
    margin-top: 30px;

}

/*
Source - https://stackoverflow.com/a
Posted by a pfp with melon, modified by community. See post 'Timeline' for change history
Retrieved 2026-01-16, License - CC BY-SA 4.0
*/

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


